name: test
on:
  workflow_dispatch:
  pull_request:
    branches: ["*", "!latest"]
  push:
    branches: [latest, main]
jobs:
  package:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows, ubuntu, macos]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Setup Node.js
        uses: actions/setup-node@v3.7.0
        with:
          node-version: latest

      - name: Setup Yarn
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      - name: Install deps
        run: yarn install

      - name: Clean dist
        run: yarn clean

      - name: Build dist
        run: yarn build

      - name: Check diff
        run: git diff --exit-code HEAD

      - name: Test lib
        run: yarn test

      - name: Run bin
        run: yarn google-rank --help
